/.idea
/.vscode
/.zed
/mysql
/logs
/config/ssls/*
/.todo
/app/.phpunit.cache
/app/.phpunit.result.cache
/app/node_modules
/app/public/build
/app/public/hot
/app/public/storage
/app/storage/*.key
/app/vendor
/app/.env
/app/.env.backup
/app/.env.production
/app/.env.testing
/app/npm-debug.log
/app/yarn-error.log
/app/public/vendor/telescope/
/app/public/vendor/web-tinker/
/app/public/images/samples
/app/storage/app/public/media
