name: static-analysis

on:
  push:
    branches:
      - develop
      - main
    paths:
      - '**.php'
  pull_request:
    branches:
      - develop
      - main
    paths:
      - '**.php'
  merge_group:
    branches:
      - develop
      - main
    paths:
      - '**.php'

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    environment: Testing
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer:v2

      - name: Add Flux Credentials Loaded From ENV
        run: composer config http-basic.composer.fluxui.dev "${{ secrets.FLUX_USERNAME }}" "${{ secrets.FLUX_LICENSE_KEY }}"

      - name: Install Dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          npm install

      - name: Run PHPStan
        run: vendor/bin/phpstan --memory-limit=1G analyse
